{% extends 'Core/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Real Time Vehicle Tracking</h1>
            <p class="lead">
            This project aims to solve the problem of tracking and accountability of vehicles by providing a software platform. This project would serve as an important step to help in Vehicle tracking, component monitoring, vehicle analysis and fleet management. An efficient vehicle tracking system is implemented for monitoring of any equipped vehicle from any location at any time with the help of Global Positioning System (GPS) and Arduino Board which will enable users to locate their vehicles with ease and in a convenient manner. This web application will provide a dashboard for better and easy understanding of their vehicle positions and related statistics.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
